.feature-list {
  display: block;
  list-style-type: none;
  display: flex;
  gap: 30px;
 }

.feature-item {
  min-width: 270px;
 }

.feature-icon {
  @extend %equalizer;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--bgr-secondary-color);
  margin-bottom: 30px;
}

.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}