.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  align-items: center;
}

.top-menu {
 @extend %equalizer;
 }

.logo {
  display: block;
  font-family: Raleway, normal;
  color: var(--accept-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* margin: 0 93px 25px 0; */
}

.logo-text {
  color: var(--black-color);
}

.header-nav-list {
  list-style-type: none;
  margin-left: 93px;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 &:hover,
 &:focus
 {
  color: var(--accept-color);
}
}

.header__contact {
  list-style-type: none;
  margin-left: auto;
  @extend %equalizer;
}

.header-nav,
.header-nav-list {
  display: flex;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail {
  margin-right: 30px;
}

.mail-link {
  display: flex;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
&:hover,
&:focus
 {
  color: var(--accept-color);
}
}

.tel-link {
  display: flex;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  color: var(--accept-color);
}
}

